.navbar-brand{
    margin-left: 700px;
    font-size: 23px;
}

h2{
    text-align: center;
    margin-left: 5px;
}

p{
    margin: 0px 20px;
    margin-left: 2px;
}
.card{
    margin: 0px 20px;
}