header {
    background-color: #40434c;
}

header > a {
    margin: 0;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

}
main {
    display: flex;
    flex-direction: column;
    background-color: #495056;
    text-align: center;
    flex-grow: 1;
}

form {
    padding: 20px;
}

#search-box {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.search-button {
    height: 50px;
    border-radius: 8px;
    background-color: #757c82;
    border: none;
    color: white;
    
}

.dropdown {
    text-align: right;
    padding-right: 50px;
}

.drop-select {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px
}

a {
    margin: 50px;
    text-decoration: none;
}

.recipes {
    padding: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.div {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    text-decoration: none;
    margin: 2px;
}
img {
    border-radius: 8px;
}
footer {
    background-color: #40434c;
    min-height: 50px;
    text-align: center;
    color: white;
}


